.title {
  text-align: center;
  padding: 0 1rem;
}

.header {
  padding: 0 1rem;
}

.padding-sides {
  padding: 0 1rem;
}

.total {
  font-weight: bold;
}

.position--bottom {
  margin-top: auto;
  margin-bottom: 2vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 5vmin;
  pointer-events: none;
  padding: 0 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .logo--spin {
    animation: spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
