.title {
  text-align: center;
  padding: 0 1rem;
}

.vote-anecdote {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.votes__num {
  color: gray;
}

.blockquote {
  width: 100%;
  margin: 1rem;
}

.quote {
  padding: 1rem;
  background-color: ghostwhite;
  border-radius: 5px;
  font-style: italic;
}

.quote::before {
  content: '\201C';
}

.quote::after {
  content: '\201D';
}

.position--bottom {
  position: absolute;
  bottom: 2vmin;
  width: 100%;
  display: flex;
  justify-content: center;
}

.position--center {
  position: absolute;
  bottom: 20vmin;
  left: 50%;
  transform: translate(-50%, 0);
}

.logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo--spin {
    animation: spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.button--text {
  font-size: calc(10px + 2vmin);
  text-transform: uppercase;
  border: 2px outset wheat;
  box-shadow: 08px 8px 0.5rem 0.025rem rgb(0 0 0 / 50%);
  padding: 0.5rem 1rem;
}

.button--icon {
  height: 10vmin;
}

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link https://www.drupal.org/node/897638
 */
.screen-reader--focusable:active,
.screen-reader--focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
